<ion-view view-title="Filter">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.livesAlone">
        Lives Alone
    </ion-toggle>
		<ion-toggle  ng-model="settings.withoutCar">
        Without Car
    </ion-toggle>
		<ion-toggle  ng-model="settings.withoutCar">
        Over 65
    </ion-toggle>
		<ion-toggle  ng-model="settings.withoutCar">
        Poverty
    </ion-toggle>
		<ion-toggle  ng-model="settings.withoutCar">
        Chronic Medical
    </ion-toggle>	
		<ion-toggle  ng-model="settings.withoutCar">
        Requires Electrical
    </ion-toggle>	
		<ion-toggle  ng-model="settings.withoutCar">
        Limited Communications
    </ion-toggle>	
		<ion-toggle  ng-model="settings.withoutCar">
        Heart Disease
    </ion-toggle>		
    </ion-list>
  </ion-content>
</ion-view>

<!--
'livesAlone' => 40,
                'withoutCar'=> 70,
                'over65' => 90,
                'poverty' => 5,
                'chronicMedical' => 80,
                'requiresElectrical' => 20,
                'limitedCommunications' => 10,
                'heartDisease' => 40,
                'lungDisease' => 35,
                'physicalDisability' => 35,
                'raisingChildren' => 5
-->